body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Light Gray Background */
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg');
    background-size: cover;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: #3498db; /* Blue Color */
    text-shadow: 0px 0px 5px #89b6df, 0px 0px 5px #111111;
    font-size: 36px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some space below the title */
  }
  
  .weather {
    background-color: #bedcf7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
  }
input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#weatherInfo {
  margin-top: 20px;
  background-color: #bedcf7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

p {
  font-size: larger;
  text-decoration: solid;
}

footer {
  font-size: small;
  text-align: center;
  background-color: #4d98d1;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
